.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .root-div {
    background-color:#fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    font-size: calc(10px + 2vmin);
    color: white;
  
  }
  .child-div{
    border: 1px solid;
    border-color: #b7aaa9;
    margin: 20px;
    background-color: #868282;
  }
  .time-btn
  {
    width: 97px;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #fff;
    background: goldenrod;
    border-color: #1890ff;
}
 
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  